<div style="margin-top:15px" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg_menu">
                        <h3>{{ ListProduct.0.tieude }}</h3>
                    </div>
                </div>
            </div>
            <div style="margin-top:15px" class="row">
                {% for item in ListProduct %}
                    <div class="col-md-3 sp_list">
                        <div class="khunghinhsp">
                            <a href="./product/{{ (item.alias~'-'~item.Id)|e }}">
                                {% set hinhdachon = item.hinhanh.choose %}
                                <img src="{{ ('/images/' ~ item.hinhanh.image_src[hinhdachon]) | src_template }}" onerror="this.src='resource/images/no_image.jpg'">
                            </a>
                        </div>
                        <div class="des">
                            <div class="msp">{{ item.masanpham|e }}<?/*= $row["masanpham"]; */?></div>
                            <div class="tensp">{{ item.tensanpham|e }}</div>
                            <div class="giasp">{{ item.gia|number_format }} VNĐ</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- phân trang-->
            <div class="col-lg-6 col-md-6 col-sm-7 m_bottom_15 phantrang">
                <p class="d_inline_m fs_medium m_right_5">Số sản phẩm trên trang</p>
                <div class="custom_select show_per_page_select type_2 m_right_5 d_inline_m">
                    <div class="select_title r_corners color_grey fs_medium">8</div>
                    <ul class="select_list r_corners wrapper shadow_1 bg_light tr_all"></ul>
                    <select class="d_none">
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            {{ include_module('mod_pagination',{pagination:pagination}) }}
        </div>
        <div class="col-md-3">
            {{ include_module('mod_trademark') }}
            {{ include_module('mod_product',{},'mod_product_featured') }}
        </div>
    </div>
    <div style="margin-top:15px;margin-bottom:15px" class="row">
        <div class="col-md-12">
            <img src="{{ 'images/services.png' | src_template }}">
        </div>
    </div>
</div>