<h5 class="color_light m_bottom_20 fw_light">THỐNG KÊ</h5>
<div class="row">
    <ul class="col-lg-12 col-md-12 col-sm-12 fw_light w_break m_xs_bottom_8">
        <li class="m_bottom_8">
            <span class="color_light">Đang online: {{ VisitCounter.now }}</span>
        </li>
        <li class="m_bottom_8">
            <span class="color_light">Ngày hôm nay: {{ VisitCounter.today }}</span>
        </li>
        <li class="m_bottom_8">
            <span class="color_light">Ngày hôm qua: {{ VisitCounter.yesterday }}</span>
        </li>
        <li>
            <span class="color_light">Tất cả: {{ VisitCounter.total }}</span>
        </li>
    </ul>
</div>