<!-- SERVICES -->
<section>
    <div class="container">
        <div class="heading heading-center">
            <h2>Dịch vụ Website của chúng tôi</h2>
            <p>
                Chúng tôi cung cấp cho bạn mọi thứ bạn cần để tạo ra một trang web miễn phí tuyệt đẹp, ngay trong tầm tay của bạn
                <br>
                Bạn có thể tự tạo 1 website dễ dàng mà không cần đến những kỹ năng phức tạp
            </p>
        </div>

        <div class="row">
            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="0">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-desktop"></i></a>
                    </div>
                    <h3>Hơn 100 mẫu HTML5 tuyệt đẹp</h3>
                    <p>Tùy theo mẫu của bạn, website của  bạn sẽ rất tuyệt vời</p>
                </div>
            </div>
            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="200">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-arrows"></i></a>
                    </div>
                    <h3>Xây dựng website dễ dàng  chỉ cần kéo thả</h3>
                    <p>Tùy theo mẫu của bạn, website của  bạn sẽ rất tuyệt vời copy</p>
                </div>
            </div>
            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="400">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-server"></i></a>
                    </div>
                    <h3>An toàn và đáng tin cậy hosting miễn phí</h3>
                    <p>Với những công nghệ hiện đại tin tức của bạn sẽ được bảo mật</p>
                </div>
            </div>
            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="600">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-gift"></i></a>
                    </div>
                    <h3>Của hàng ứng dụng của chúng tôi</h3>
                    <p>Với những công nghệ hiện đại tin tức của bạn sẽ được bảo mật copy</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="800">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <h3>Bán hàng trực tuyến</h3>
                    <p>Thêm vào dịch vụ bán hàng trực tuyến cho cửa hàng của bạn</p>
                </div>
            </div>
            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="1000">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-mobile"></i></a>
                    </div>
                    <h3>Tuyệt vời trên thiết bị di động</h3>
                    <p>Chũng tôi xây dựng một phiên bản tối ưu hóa trên smartphone</p>
                </div>
            </div>
            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="1200">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                    <h3>Có thể tìm kiếm trên google dễ dàng</h3>
                    <p>Mọi người có thể tìm dễ dàng trên google hay công cụ tìm kiếm khác</p>
                </div>
            </div>
            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="1400">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-headphones"></i></a>
                    </div>
                    <h3>Hỗ trợ trực tuyến 24/7</h3>
                    <p>Liên hệ với đội ngũ tư vấn  bạn sẽ được giải đáp ngay lập tức</p>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- end: SERVICES -->