{% extends "index.html" %}
{% block title %}Không tìm thấy trang{% endblock %}
{% block slider %}{% endblock %}

{% block content %}
    <link href="./404/404.css" rel="stylesheet" type="text/css"  media="all" />
    <div class="wrap">
        <!--start-content------>
        <div class="content">
            <img src="./404/error-img.png" title="error" />
            <p><span>0hh.....</span>Không tìm thấy trang được yêu cầu.</p>
        </div>
        <!--End-Cotent------>
    </div>
{% endblock %}




                                                                                                                                                                                                                                