<style>
    figure a img {
        height: 100%;
        width: 100%;
    }

    figure a:first-child {
        height: 245px;
    }
</style>

<div style="margin-top:15px;padding-bottom:15px" class="container">
    <div class="row">

        <aside class="col-lg-3 col-md-3 col-sm-3">
            <div class="tabs m_bottom_50 m_xs_bottom_30">
                <!--tabs nav-->
                <ul class="tabs_nav type_3 hr_list d_inline_b d_md_block m_bottom_30 m_xs_bottom_20">
                    <li class="f_md_none"><a href="#popular" class="color_dark d_block n_sc_hover tr_all_medium">Tin
                            mới</a></li>
                    <li class="f_md_none"><a href="#recent" class="color_dark d_block n_sc_hover tr_all_medium">Xem
                            nhiều</a></li>
                </ul>
                <!--tabs content-->
                <div id="popular">
                    <!--popular-->
                    {{ include_module('mod_news_popular') }}
                </div>
                <div id="recent">
                    <!--recent-->
                    {{ include_module('mod_news_popular') }}
                </div>
            </div>

            {{ include_module('mod_trademark') }}
            {{ include_module('mod_video') }}

        </aside>

        <section class="col-lg-9 col-md-9 col-sm-9">

            <div class="row">
                {% for article in ListArticle %}
                    <div class="col-lg-6 col-md-6 col-sm-6 m_bottom_50 m_xs_bottom_30 clearfix">
                        <!--post-->
                        <article>
                            <!--post content-->
                            <figure>
                                <a href="#" class="d_block wrapper r_corners m_bottom_20">
                                    <img src="{{ article.filehinhanh }}" alt="{{ article.chuthichanh }}">
                                </a>
                                <figcaption>
                                    <h5 class="m_bottom_5"><a href="./article/{{ article.alias~'-'~article.Id }}"
                                                              class="color_dark tr_all">{{ article.tieude }}</a></h5>
                                    <ul class="dotted_list m_bottom_8 color_grey_light_2 lh_ex_small">
                                        <li class="m_right_15 relative d_inline_m">
                                            <a href="#" class="color_grey fs_small">
                                                <i class="icon-calendar-1 m_right_2 color_grey_light_2 tr_all"></i>
                                                <i>{{ article.ngaysua | date("d/m/Y") }}</i>
                                            </a>
                                        </li>
                                        <li class="m_right_15 relative d_inline_m">
                                            <a href="#" class="color_grey fs_small">
                                                <i class="icon-user m_right_2 color_grey_light_2 tr_all"></i>
                                                <i>{{ article.tacgia_ten }}</i>
                                            </a>
                                        </li>
                                        <li class="m_right_15 relative d_inline_m">
                                            <i class="icon-tag m_right_2 color_grey_light_2 tr_all"></i>
                                            <a href="#" class="fs_medium color_grey"><i>{{ article.tieudedanhmuc }}</i></a>
                                        </li>

                                        <li class="m_right_15 relative d_inline_m">
                                            <a href="#" class="color_red_hover">
                                                <i class="icon-eye m_right_2 color_grey_light_2 tr_all"></i>
                                                <i class="fs_medium color_grey tr_all">{{ article.solanxem }}</i>
                                            </a>
                                        </li>
                                    </ul>
                                    <p class="m_bottom_12">{{ article.motachitiet|SmartSubstr }}</p>
                                    <a href="./article/{{ article.alias~'-'~article.Id }}"
                                       class="color_purple d_inline_b color_pink_hover d_block m_right_20 fw_light">
												<span class="d_inline_m m_right_5 icon_wrap_size_0 circle color_grey_light tr_all">
													<i class="icon-angle-right"></i>
												</span>
                                        Xem chi tiết
                                    </a>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    {% if loop.index%2==0 %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            </div>
            {{ include_module('mod_pagination',{pagination:pagination}) }}

            {#<div class="clearfix">
                <div class="f_right clearfix f_mxs_none">
                    <a href="#" class="button_type_2 color_dark r_corners transparent bg_color_purple_hover fs_medium prev_page_button f_left m_right_5">Trang trước</a>
                    <a href="#" class="button_type_2 color_dark r_corners transparent bg_color_purple_hover fs_medium next_page_button f_left m_right_5">Trang sau</a>
                </div>
            </div>#}
        </section>
    </div>
</div>