<header role="banner" class="relative">
    <!--top part-->
    <section class="header_top_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 t_align_r t_xs_align_c">
                    <ul class="hr_list fs_small color_grey_light">
                        <li class="m_right_20 f_xs_none m_xs_right_0 m_xs_bottom_5">
                            <a href="mailto:#" class="color_grey_light d_inline_b color_black_hover">Liên hệ</a>
                        </li>
                        <li class="m_right_20 f_xs_none m_xs_right_0 m_xs_bottom_5">
                            <a href="mailto:#" class="color_grey_light d_inline_b color_black_hover">Sitemap</a>
                        </li>
                        <li class="m_right_20 f_xs_none m_xs_right_0 m_xs_bottom_5">
                            <a href="mailto:#" class="color_grey_light d_inline_b color_black_hover">Góp ý</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="pt30 pb30 col-lg-4 col-md-4 col-sm-4 d_table_cell d_xs_block f_none v_align_m logo t_xs_align_c">
                <a href="." class="d_inline_m m_xs_top_20 m_xs_bottom_20">
                    <img src="files/images/{{ config.logo }}" alt="logo">
                </a>
            </div>
            <div class="mb15 t_align_r col-lg-4 col-md-4 col-sm-4 d_table_cell d_xs_block f_none v_align_m logo t_xs_align_c">
                <form action="/collection">
                    <input value="{{ query.q }}" type="text" name="q" class="txtsearch" placeholder="Nhập model cần tìm">
                    <button style="vertical-align: bottom;"
                            class="icon_wrap_size_2 active color_grey_light_2 tr_all color_purple_hover"><i
                                class="icon-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!--header bottom part-->
    <section class="header_bottom_part">
        <div class="container bg_menu">
            <div class="d_table w_full d_xs_block">
                <!--logo-->

                <div class="col-lg-9 col-md-9 col-sm-12 t_align_l d_table_cell d_xs_block f_none">
                    <div class="relative clearfix t_align_l">
                        <button id="menu_button"
                                class="r_corners tr_all color_blue db_centered m_bottom_20 d_none d_xs_block">
                            <i class="icon-menu"></i>
                        </button>
                        <!--main navigation-->
                        <nav role="navigation"
                             class="d_inline_m d_xs_none m_xs_right_0 m_right_15 t_align_l m_xs_bottom_15">

                            {% macro recursiveCategory(menu,class_li,class_a) %}
                                <li class="container3d relative {{ class_li }}">
                                    <a target="{{ menu.target }}" class="{{ class_a }}" href="{{ menu.link }}">{{ menu['title'] }}
                                        {% if menu.children|length %}
                                            <i class="icon-angle-down d_inline_m r_xs_corners"></i>
                                        {% endif %}
                                    </a>
                                    {% if menu.children|length %}
                                        <!--sub menu-->
                                        <ul class="sub_menu r_xs_corners bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
                                            {% for child in menu.children %}
                                                {{ _self.recursiveCategory(child,'','d_block color_dark relative') }}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endmacro %}

                            <ul class="hr_list main_menu fw_light">
                                {% for menu in ListMenu %}
                                    {{ _self.recursiveCategory(menu,'f_xs_none m_xs_bottom_5','color_dark fs_large relative r_xs_corners') }}
                                {% endfor %}
                            </ul>

                        </nav>
                    </div>
                </div>
                {{ include_module('mod_cart',{},'mod_menu_cart') }}
            </div>
        </div>
    </section>
</header>