<div style="margin-top:-40px" class="container bg_dtkh">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="featured_products owl-carousel type_2 t_xs_align_c" data-plugin-options='{"singleItem":false,"itemsCustom":[[992,7],[768,7],[600,2],[10,1]],"autoPlay":true}' data-nav="fp_nav_">
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh1.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh2.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh3.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh4.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh5.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh6.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh7.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh1.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh2.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh3.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh4.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh5.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh6.png' | src_template }}">
                    </div>
                    <div class="col-md-12">
                        <img src="{{ 'images/dtkh7.png' | src_template }}">
                    </div>
                </div>
            </div>
            <!--carousel nav-->
            <button style="left:-35px" class="icon_wrap_size_4 circle color_grey_light tr_all color_blue_hover fp_nav_prev d_md_none">
                <i class="icon-left-open-big"></i>
            </button>
            <button style="right:-35px" class="icon_wrap_size_4 circle color_grey_light tr_all color_blue_hover fp_nav_next d_md_none">
                <i class="icon-right-open-big"></i>
            </button>
        </div>
    </div>
</div>