<div style="padding-top:15px;" class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="hr_list d_inline_m breadcrumbs">
                <li class="m_right_8 f_xs_none"><a href="index.html" class="color_default d_inline_m m_right_10">Tin tức</a><i class="icon-angle-right d_inline_m color_default fs_small"></i></li>
                <li class="m_right_8 f_xs_none"><a href="#" class="color_default d_inline_m m_right_10">Tin đồng hồ</a></li>
            </ul>
        </div>
    </div>
</div>